:root {
    --bg-light: #fffaf4;
    --bg-dark: #2C2C2C;
    --bg-footer: ##fffaf4;
}
* {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

body {
    background-color: var(--bg-light);
}

p {
    font-size: 16px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 25px;
}

/* Fuentes  */
.bitter-font {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  

.ibm-plex-serif-regular {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
  }

  .ibm-plex-serif-light {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
  }

  .orbitron-bold {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .orbitron-regular {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  

/* ICONOS*/

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}


/* 
  HEADER STYLES */

.logo {
    width: 28.75px;
}

header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    margin-right: 20px;
}

.icono-text  {
    padding: 0 5px;
    align-self: center;
}


.contenedor-icono{
    display: flex;
    padding: 10px
}

button {
    background-color: #253026;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

/* MAIN STYLES  */

.contenedor-img {
    width: 320px;
}

img {
    object-fit: cover;
    max-height: 100%;
}


.contenedor-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.texto {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
}

.leyenda {
    font-size: 14px;
    padding-top: 15px;
    letter-spacing: 1px;
    font-style: italic;
}

.btn {
    font-size: 17px;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    border-width: 1px;
    min-width: 28px;
    padding: 11px 21px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: 980px;
}



.bg-black {
    width: 100%;
    background-color: var(--bg-dark);
    color: #ffff;
}

.contenedor-caos h2 {
    align-self: flex-start;
    padding: 20px 25px;
}

.contenedor-caos p{
    padding-top: 10px;
    padding-bottom: 20px;
}


.contenedor-belleza {
    width: 100%;
}

.frase {
    width: 340px;
    padding: 10px 25px;
}


.contenedor-abstracto {
    width: 100%;
}

h2 {
    align-self: flex-start;
    padding: 20px 25px 10px;
}

.c-mirada-big {
    display: none;
}

.img-sangre {
    display: none;
}

.img-escultura-extra {
    display: none;
}

.img-pavo-extra, .img-circulo-extra, .img-dino-extra {
    display: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

a {
    text-decoration: none;
    color: #000;
    font-weight: 300;
}




footer {
    margin: 50px;
    font-family: "proxima nova light",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2;
}

footer h3 {
    font-family: monospace;
    font-weight: 300;
}

.contenedor-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}



.linea {
    width: 100%;
    border-top: 1px solid #000000;
    margin: 20px 0;
}

.btn-flecha {
    color: #253026;
    background-color: var(--bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-content: center;
}

.c-firma {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.firma {
    margin-top: 100px;
    display: flex;
    border: 1px solid #000000;
    height: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); /* Box-shadow sutil */
}

.firma h4 {
    font-size: 14px;
    padding: 10px 10px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info {
    display: flex;
    width: 100%;
    align-content: center;
    border-top: 1px solid #000000;
    padding: 10px 5px;
    justify-content: center;
    align-items: center;
}

 ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contenedor-caos {
    font-family: Helvetica,Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

.contenedor-caos h2 {
    font-weight: 400;
}





.info a {
    align-content: center;
    padding: 0px 15px;
}

.c-iconos {
    padding: 10px
}


/* Estilos para tabletas */
@media (min-width: 740px) and (max-width: 1299px) {
    .logo {
        width: 36.8px;
    }

    h2,h3 {
        font-size: 32px;
    }

    .contenedor-inicial {
        display: grid;
        grid-template-columns: minmax(320px,1fr) minmax(340px,1fr);
        grid-gap: 20px;
    }

    .txt-inicial {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        justify-self: center;
    }

    .img-inicial{
        grid-column: 2;
        margin-top: 10px;
    }

    .contenedor-caos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-caos h2 {
        display: inline-block;
        justify-self: center;
        align-self: center;
    }

    .contenedor-caos .texto {
        width: 550px;
    }


    .contenedor-belleza .frase {
        width: 550px;
        align-self: flex-start;
        margin-bottom: 20px;
    }

    .horacio {
        padding: 20px;
    }

    .c-escultura {
        margin: 20px 20px 5px;
    }

    .t-escultura {
        width: 700px;
        margin-bottom: 10px;
        padding-left: 40px;
    }

    .c-escultura-h {
        margin-top: 20px;
    }

    .t-escultura-h {
        width: 620px;
    }

    .c-sentado {
        margin-top: 10px;
    }

    .contenedor-abstracto h2 {
        margin-top: 30px;
    }

    .contenedor-abstracto .frase {
        width: 620px;
        align-self: flex-start;
        margin-bottom: 20px;
    }

    .t-abstracto {
        width: 700px;
        margin-bottom: 20px;
    }

    .t-azul {
        width: 550px;
        margin-bottom: 20px;
    }
    .c-ola {
        margin-top: 10px;
    }

    .contenedor-viaje h2 {
        align-self: center;
    }
    .contenedor-viaje .frase {
        width: 600px;
        padding: 10px 0;
        margin-bottom: 20px;
    }

    .contenedor-viaje .texto {
        width: 650px;
        margin-bottom: 20px;
    }

    .c-mirada {
        display:none
    }

    .c-mirada-big {
        display: block;
    }

    .t-ojos {
        padding-left: 20px;
        margin-top: 10px;
    }

    .t-dualidad-mirada {
        padding: 20px 20px;
    }


}





/* Estilos para pantallas grandes */
@media (min-width: 1300px) {
    .logo {
        width: 46px;
    }

    .c-mirada {
        display: none;
    }

    .c-mirada-big {
        display: block;
    }

    h3 {
        font-size: 32px;
    }

    h2 {
        font-size: 40px;
    }
    p {
        font-size: 18px;
        line-height: 1.5;
    }

    .contenedor-inicial {
        display: grid;
        grid-template-columns: minmax(590px,1fr) minmax(500px,1fr);
        grid-gap: 20px;
    }

    .txt-inicial {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        justify-self: center;
        width: 400px;
    }

    .img-inicial{
        grid-column: 2;
        margin-top: 10px;
        min-width: 500px;
    }

    .contenedor-caos-top {
        display: grid;
        grid-template-columns: minmax(450px,1fr) minmax(550px,1fr);
        grid-template-rows: 90px repeat(3,227px);
    }

    .contenedor-caos-top h2 {
        grid-column: 1/2;
        grid-row: 1;
    }

    .img-guerra {
        grid-column: 1;
        grid-row: 2/span 3;
        justify-self: center;
    }

    .img-sangre {
        display: block;
        grid-column: 2;
        grid-row: 3/4;
        align-self: center;
    }

    .t-guerra {
        grid-column: 2;
        grid-row: 4;
        padding: 20px;
        width: 540px;
    }

    .contenedor-caos-down {
        display: grid;
        grid-template-columns: minmax(700px,1fr) minmax(400px,1fr);
        grid-template-rows: 50px 500px 100px 555px 50px;
    }

    .c-esqueleto {
        grid-column: 1;
        grid-row: 2/3;
    }
    .t-esqueleto {
        grid-column: 2;
        grid-row: 2;
    }

    .c-colores {
        grid-column: 1;
        grid-row: 4;
        align-self: center;
        max-height: 100%;
    }

    .t-colores {
        grid-column: 2;
        grid-row: 4;
    }

    .t-esqueleto, .t-colores {
        padding-left: 40px;
        align-self: end;
        width: 500px;
    }

    .contenedor-belleza-top {
        display: grid;
        grid-template-columns: 650px 600px;
        grid-template-rows: 200px 600px 30px 50px 30px;
    }

    .contenedor-belleza-top h2 {
        grid-column: 1;
        grid-row: 1;
    }

    .contenedor-belleza-top .frase {
        grid-column: 1/2;
        grid-row: 1;
        width: 900px;
    }

    .c-monet {
        grid-column: 1;
        grid-row: 2;
    }

    .c-vangogh {
        grid-column: 2;
        grid-row: 2;
    }

    .horacio {
        grid-column: 1/2;
        grid-row: 4;
       justify-self: end;
       width: 450px;
    
    }

    .contenedor-belleza-med {
        display: grid;
        grid-template-columns: minmax(500px,1fr) minmax(630px, 1fr);
    }

    .t-escultura {
        width: 700px;
        justify-self: end;
        align-self: end;
    }

    .img-escultura-extra {
        display: block;
        margin: 30px;
    }

    .img-pavo-extra {
        display: block;
    }

    .contenedor-belleza-down {
        display: grid; 
        grid-template-columns: minmax(550px,1fr) minmax(500px,1fr); 
        grid-template-rows: 600px;
        gap: 100px;
    }

    .img-pavo-extra {
        grid-column: 1;
  
    }

    .c-amor {
        grid-column: 2;
        
    }

    .contenedor-belleza-esc {
        margin: 20px;
        display: grid;
        grid-template-columns: minmax(700px,1fr) minmax(500px,1fr);
        gap: 100px;
    }

    .t-escultura-h {
        align-self: end;
        width: 500px;
    }

    .img-circulo-extra {
        display: block;
        align-self: end;
    }

    .contenedor-belleza-sen {
        display: grid;
        grid-template-columns: minmax(600px,1fr) minmax(500px,1fr);
        gap: 50px
    }

    .contenedor-abstracto-top {
        display: grid;
        grid-template-columns: minmax(500px,1fr) minmax(700px,2fr);
        grid-template-rows: 100px 100px 100px 500px;
        margin: 40px;
        column-gap: 50px;
    }

    .contenedor-abstracto-top h2 {
        grid-column: 1;
        grid-row: 1;

    }

    .contenedor-abstracto-top .frase {
        grid-column: 1;
        grid-row: 2;
        width: 500px;
        padding: 0px 0px;
    }

    .t-abstracto {
        grid-column: 1;
        grid-row: 3;
        width: 500px;
        padding: 0 0;
    }

    .img-mdq {
        grid-column: 2;
        grid-row: 2/span 3;
    }

    .contenedor-abstracto-med {
        display: grid;
        grid-template-columns: 600px 560px;
        grid-template-rows: 600px 100px;
        margin-bottom: 100px;
    }

    .img-dino-extra {
        display: block;
        grid-column: 2;
        grid-row: 1;
        justify-self: center;
        align-self: center;
    }

    .t-azul {
        grid-column: 1/span 2;
        grid-row: 2;
        width: 1100px;
    }

    .contenedor-abstracto-down {
        display: grid;
        grid-template-columns: 500px 600px;
        gap: 100px;
    }

    .img-dots {
        align-self: center;
    }

    .contenedor-viaje-top {
        display: grid;
        grid-template-columns: 600px 500px;
        grid-template-rows: 100px 100px 600px;
        column-gap: 50px;
        margin-bottom: 50px
    }

    .contenedor-viaje-top h2 {
        align-self: end;
    }

    .contenedor-viaje-top .frase {
        grid-column: 1;
        grid-row: 2;
        width: 600px;
    }

    .img-ojo {
        grid-column: 1;
        grid-row: 3;
    }

    .t-ojo {
        grid-column: 2;
        grid-row: 3;
        width: 500px;
        align-self: end;
    }

    .t-mirada {
        width: 900px;
        margin-bottom: 50px;
    }

    .contenedor-viaje-med {
        display: grid;
        grid-template-columns: 500px 650px;
        grid-template-rows: 50px 500px 100px;
        gap: 50px;
    }

    .img-ojos {
        grid-column: 1;
        grid-row: 2;
    }

    .img-dualidad {
        grid-column: 2;
        grid-row: 1 /span 3;
    }

    .t-ojos {
        grid-column: 1;
        grid-row: 3;
        width: 500px;
    }

    .contenedor-viaje-down {
        display: grid;
        grid-template-columns: 600px 500px;
        grid-template-rows: 642px;
        gap: 100px;
        margin-top: 50px;
    }

    .img-careta {
        grid-column: 1;
    }

    .t-dualidad-mirada {
        grid-column: 2;
        grid-row: 1;
        width: 500px;
        align-self: end;

    }

    .contenedor-footer {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 75px 60px 280px 50px;
        row-gap: 20px;
    }

    .btn-flecha {
        grid-column: 2;
        grid-row: 1;
    }

    .info {
        grid-column: 1/span 3;
        grid-row: 2;
        width: 80%;
        align-self: center;
        justify-self: center;
    }

    .g-1 {
        grid-column: 1;
        grid-row: 3;
    }

    .g-2 {
        grid-column: 2;
        grid-row: 3;
    }

    .c-firma {
        grid-column: 3;
        grid-row: 4;
    }

    ul {
        height: 260px;
    }

}

